
{
  "SESSION_SECRET": "your-session-secret-here",
  "BOT_TOKEN": "your-bot-token-here",
  "MONGO_CONNECTION": "your-mongodb-connection-string-here",
  "ERROR_LOGS": "",
  "JOIN_LEAVE_LOGS": "",
  "BOT_SECRET": "",
  "SESSION_PASSWORD": "",
  "WEATHERSTACK_KEY": "",
  "STRANGE_API_KEY": "",
  "SPOTIFY_CLIENT_ID": "",
  "SPOTIFY_CLIENT_SECRET": ""
}
